html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  font-size: 0;
  text-align: center;
  border-bottom: solid 1px #c6c6c6;
}

.header-logo {
	width: 138px;
  height: 10px;
  margin: 1rem auto;
	object-fit: contain;
}

@media (min-width: 48rem) {
  .header-logo {
    margin: 1.5rem auto;
  }
}

.product-title {
  margin: 1rem 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: Lora;
  color: #111111;
}

.product-info {
  margin: 1rem 0.5rem;
}

.product-preview {
  display: flex;
  margin: 0 -1rem;
  overflow-x: scroll;
}

@media (min-width: 48rem) {
  .product-preview {
    margin: 0;
  }

  .product-preview-img {
    flex: none;
    width: 432px;
    height: 576px;
  }
}

.product-shortinfo {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
  
.product-price {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #111111;
}

.product-code { 
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.6666666667;
  color: #171717;
}

.divider {
  margin: 0 -0.5rem;
  border: none;
  border-bottom: 1px solid #c6c6c6;
}

@media (min-width: 48rem) {
  .product-info {
    margin: 1.5rem 0;
  }

  .product-title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .product-shortinfo { 
    margin: 0 0 1em;
  }

  .product-price {
    margin: 0;
  }

  .divider {
    border-bottom: none;
  }
}

.color {
  margin: 0;
  padding: 0 0 1rem;

  border-bottom: solid 1px #c6c6c6;
}

@media (min-width: 48rem) {
  .color {
    margin: 1rem 0;
  }
}

.color-current {
  font-size: 0.75rem;
  line-height: 1.16666667;
  color: #171717;
}

.color-options {
  display: flex;
  margin: 1.0625rem 0 1rem;
}

.color-option {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  font-size: 0;

  border: none;
  border-radius: 50%;
}

.color-option:last-child {
  margin-right: 0;
}

.color-option-active {
  border: solid 1px #232122;
}

.color-option-black {
  background-color: #232122;
}

.color-option-brown {
  background-color: #cfa880;
}

.product-button {
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0 1rem;
  padding: 1rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;
  font-family: Raleway;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #171717;
  border: solid 1px #171717;
  border-radius: 2px;
}

.product-button-black {
  margin: 0 0 1.375rem;

  color: #171717;

  background-color: #ffffff;
  border: solid 1px #999999;
  border-radius: 2px;
}

.product-button-help {
  margin: 0 0 2rem;
  padding: 0;

  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-family: Raleway;
  color: #171717;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

@media (min-width: 48rem) {
  .product-button {
    margin: 1rem 0 0;
  }

  .product-button-black {
    margin: 1rem 0 1.375rem;
  }
}

.detail {
  margin: 2rem 0.5rem;
}

.detail-button {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Raleway;
  text-align: left;

  background: inherit;
  border: none;
}

.detail-title {
  position: relative;

  margin: 0;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;
}

.detail-title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: 0.625rem;
  height: 1.25rem;

  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.detail-active .detail-title::after {
  transform: rotate(-180deg);
}

@media (min-width: 48rem) {
  .detail {
    margin: 0.5rem 0 1.5rem;
  }

  .detail-title::after {
    content: none;
  }
}

.description-text {
  margin: 2rem 0 0;

  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-family: Lora;
  color: #171717;
}

.description-text p {
  margin: 0;
}

.description-text ul {
  margin: 1.5rem 0 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 48rem) {
  .description-text {
    margin: 1rem 0 0;
  }
}

.shipping-img {
  display: none;
  width: 100%;
}

.shipping-message {
  display: none;
  padding: 1rem 0 0.5rem;
}

.shipping-message-title {
  margin: 0 0 0.25rem;

  font-size: 0.75rem;
  line-height: 1.1666666667;
}

.shipping-message-text {
  margin: 0;

  font-size: 0.75rem;
  line-height: 1.333333333;
}

@media (min-width: 48rem) {
  .shipping-img {
    display: block;
  }

  .shipping-message {
    display: block;
  }
}

.recommendations {
  padding: 3rem 0.5rem 0;
}

.misc-title {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;

  border-bottom: solid 1px #171717;
}

.recommendations-link {
  /* display: block;
  flex-wrap: wrap; */
  margin: 0 0 2rem;


  color: #111111;
  text-decoration: none;
}

.recommendations-item-image {
  width: 100%;
  display: block
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendations-item-title {
  margin: 0.5rem 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-family: Lora;
  color: #111111;
}

.recommendations-item-price {
  margin: 0;

  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #999999;
}

@media (min-width: 48rem) {
  .recommendations {
    padding: 0 0 2rem;
  }

  .misc-title {
    margin: 0 0 1.5rem;
  }
}

.offers {
  margin: 0 0 4rem;
  padding: 1rem 0.5rem 0;
}

.offers-link {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-family: Lora;
  color: #171717;
  text-decoration: none;
  font-style: italic;
  margin: 0 0 1rem;
  display: block;
}

@media (min-width: 48rem) {
  .offers {
    display: none;
  }
}

.footer {
  padding: 2rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;

  background-color: #f3f3f3;
}

.footer-button {
  margin: 0;
  padding: 0 1.5rem 1rem 0;

  line-height: 1.333333333;
  font-family: Raleway;
  color: #999999;

  background: inherit;
  border: 0;

  display: block;
  text-align: left;
}

.footer-settings {
  display: block;
}

.footer-help {
  text-align: center;
  color: #171717;
  text-decoration: none;
}

.footer-help-title {
  margin: 0 0 1rem;

  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
}

.footer-help-contacts {
  margin: 0;

  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-family: Lora;
  font-style: italic;
  color: #171717;
  text-decoration: none;
}

.footer-menu {
  display: none;
  margin-bottom: 1.5rem;
}

.footer-menu-column {
  margin-bottom: 0.5rem;
}

.footer-menu-title {
  margin: 0 0 1rem;

  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-menu-link {
  display: block;
  margin: 0 0 0.75rem;

  font-size: 0.75rem;
  line-height: 1.33333333;
  color: #999999;
  text-decoration: none;
}

@media (min-width: 48rem) {
  .footer-help {
    display: none;
  }

  .footer-menu {
    display: block;
  }

  .footer-settings {
    display: flex;
  }
}